.ui-anglepicker {
    width: 52px;
    height: 52px;

    background: -moz-linear-gradient(top, #dbdbdb, #e1e1de 20%, #f8f8f3);
    background: -webkit-linear-gradient(top, #dbdbdb, #e1e1de 20%, #f8f8f3);
    border: 2px solid #666;

    -moz-box-shadow: inset 0 2px 3px white, inset 0 -1px 2px #fffef8;
    -webkit-box-shadow: inset 0 2px 3px white, inset 0 -1px 2px #fffef8;
    box-shadow: inset 0 2px 3px white, inset 0 -1px 2px #fffef8;

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}
.ui-anglepicker-pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;

    margin: -2px 0 0 -2px;
    -moz-transform-origin: 2px 2px;
    -webkit-transform-origin: 2px 2px;
    -ms-transform-origin: 2px 2px;
    -o-transform-origin: 2px 2px;
    transform-origin: 2px 2px;
}

.ui-anglepicker:hover, .ui-anglepicker.ui-anglepicker-dragging {
    border-color: #494949;
}

.ui-anglepicker-dragging .ui-anglepicker-dot, .ui-anglepicker-dragging .ui-anglepicker-line,
.ui-anglepicker:hover .ui-anglepicker-dot, .ui-anglepicker:hover .ui-anglepicker-line {
    background: #494949;
}

.ui-anglepicker-dot {
    height: 4px;
    width: 4px;
    position: absolute;
    background: #838383;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.ui-anglepicker-line {
    margin-top: 1.5px;
    margin-right: -2px;
    height: 1px;
    background: #838383;
}​
